* {
  box-sizing: border-box;
}

header {

    background-attachment: fixed;
    background-size: cover;
    background-color:rgb(252, 187, 24);
}

body{
    font-weight: 500;
    font-style: normal;
    font-family: 'Noto Sans', sans-serif;
}

h1{
  font-size: 1.9rem;
  font-weight: 600;
  font-style: normal;
  text-shadow: 40rem;
  background-color: orange;
  opacity: 0.80;
  color: white;
  text-decoration: underline orange double 3px;
}

h2{
  font-size: 1.7rem;
  text-shadow: 30rem;
  text-decoration: underline orange double 3px;
}

p{
  font-size: 1.2rem;
  text-shadow: 40rem;
  text-decoration:underline red 2px;}




.carousel-indicators{
    margin: 0 78.9px 45px;
}


.btn btn-secondary btn-lg {
  margin-top: 70px;
}

.carousel-inner,
.carousel-item {
  height: 500px;
}

.carousel-inner img {
  object-fit: cover;
}

